@import './variables';

.button {
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
        
    &.primary {
        color: $primary-text-color;
        background: linear-gradient(
            $accent-color 20%,
            $accent-dark-color
        );
    }

    &.secondary {
        border: 1px solid $primary-text-color;
        color: $primary-text-color
    }

    &.large {
        padding: 1em 3em;       
    }

    &.medium {
        padding: .75em 2em;
    }
}