@import './variables', './responsive';

.app {
    min-height: 100vh;
    background-color: $primary-bg-color;
    color: $primary-text-color;
    display: flex;
    flex-direction: column;

    *:not(.noFlex :last-child, .noFlex :last-child *) {
        display: flex;
        flex-direction: column;
    }
    
    .noFlex.blackText :last-child :last-child * {
            color: $primary-bg-color;
    }

    > .content {
        padding: 2em 4em;
        row-gap: 2em;
        flex-grow: 1;

        @include isLarge {
            padding: 4em 8em;
            row-gap: 4em;
        }
        
        * {
            font-size: 1.25rem;
        }
        
        >.header {
            flex-direction: row;
            align-items: center;
            column-gap: 1em;

            > i {
                cursor: pointer;
            }

            > h1 {
                font-size: 2.5rem;
            }
        }
        > .content {
            row-gap: 2em;
            
            @include isLarge {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 4em;
            }

            .col {
                row-gap: 2em;
                flex-grow: 1;

                @include isLarge {
                    row-gap: 4em;
                    justify-content: start;
                    overflow-y: hidden;
                }

                > .section {
                    row-gap: 1em;

                    @include isLarge {
                        row-gap: 2em;
                    }
                }
            }

        }
    }
}