@import './variables';

.app {
    * {
        display: flex;
        flex-direction: row;

        // border: 1px solid red;
    }

    > .content {
        background-color: $primary-bg-color;
        color: $primary-text-color;
        padding: 2em;
        flex-direction: column;
        row-gap: 4em;

        > .section {
            flex-direction: column;
            row-gap: 1em;

            > .appLogo {
                width: 50%;
                max-width: 25em;
                align-self: center;
            }
        }
    }
    
    > .footer {
        padding: 2em;
        color: $primary-text-color;
        background-color: $secondary-bg-color;
        flex-direction: column;
    
        > .content {
            padding: 1em;
            flex-direction: column;
            row-gap: .5em;
    
            > .link {
                column-gap: .5em;
                align-items: center;

                > img, i {
                    $size: 1.5rem;

                    width: $size;
                    font-size: $size;
                }

                > a {
                    font-size: 1rem;
                    text-decoration: underline;
                }
            }
        }
    }
}
