@import './variables', './mixins', './responsive';

.infoPopup {
    display: grid;
    grid-template-columns: 1fr;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0.5em 2em;
    border-radius: 4px;
    z-index: 100;

    &.hidden {
        display: none;
    }
    
    &.normal {
        border: 1px solid $info-color;
    }
    
    &.warning {
        border: 1px solid orange;
    }
    
    &.success {
        border: 1px solid green;
    }

    &.error {
        border: 1px solid red;
    }
    
    @include isLarge {
        left: 50%;
        transform: translateX(-50%);
        margin: 1em 0;
        width: 50vw;
        opacity: 0.5;
        column-gap: 2em;

        &:hover {
            opacity: 1;
        }
    }

    > .header {
        display: grid;
        grid-template-columns: 0fr 1fr 0fr;
        align-items: center;
        column-gap: 1em;
        padding: 0.5em 1em;
        color: white;
        cursor: pointer;
            
        &.normal {
            background-color: $info-color;
        }
        
        &.warning {
            background-color: orange;
        }
        
        &.success {
            background-color: green;
        }

        &.error {
            background-color: red;
        }


        @include isLarge {
            padding: 1em 2em;
        }

        > .title {
            font-weight: bold;
        }
    }

    >.content {
        @include flex;
        align-items: flex-start;
        background-color: $primary-text-color;
        color: $primary-bg-color;
        padding: 1em;

        &.hidden {
            display: none;
        }

        @include isLarge {
            padding: 1em 2em;
        }

        > .option {
            text-decoration: underline;
            cursor: pointer;
        }
    }

}