@import './variables', './responsive', './mixins';

.pairShowcase {
    @include flex;

    > .content {
        display: grid;
        grid-template-columns: 1fr 0fr 1fr;
        align-items: center;
        justify-items: stretch;
        column-gap: 1em;

        > .name {
            text-align: center;
            flex-grow: 1;
            font-size: 2.25rem;
            font-weight: bold;
        }

        > img {
            width: 4rem;
            margin: auto;
        }
    }

    > .info {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        color: $secondary-text-color;
    }
}