@import './variables', './responsive', './mixins';

.previousPairs {
    @include flex($gapSize: 0);
    background-color: $primary-text-color;
    color: $primary-bg-color;
    border-radius: 4px;

    > h1 {
        font-size: 1.5rem;
        text-align: center;
        padding: .5em;
    }

    > .pair {
        display: grid;
        grid-template-columns: 1fr 0fr 1fr;
        padding: .5em 0;

        &:hover {
            background-color: rgba($primary-bg-color, 0.1);
        }

        > * {
            cursor: default;
        }

        > .name {
            flex-grow: 1;
            text-align: center;
            font-size: 1.25rem;
        }
    }
}